/* 清除全局标签外边距、内边距样式 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
        content: "";
        display: table;
    }
    .clearfix::after {
        clear: both;
    }

/* 设置页面版心布局 */
.wrapper {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 清除 a 标签样式 */
a {
    text-decoration: none;
}

/* 清除 li 标签样式 */
li {
    list-style: none;
}

/* 设置全局字体样式 */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.body-content {
    margin-top: 76px; /* 设置顶部边距，防止内容被头部栏遮挡 */
}